@import "tailwindcss";

@theme inline {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-sidebar: #0a1118;
  --color-card-dark: #1a2632;
  --font-sans: 'Manrope', sans-serif;
}

::selection {
  background-color: oklch(from var(--color-primary) l c h / 0.2);
  color: var(--color-primary);
}

body {
  font-family: var(--font-sans);
}
